%tr
  %td
    %span.small
      = link_to entry.user.name, user_path(entry.user)
      が
      = entry.updated_at
      に投稿
    %br
    = link_to entry.title, entry_path(entry)
    - entry.tags.each do |tag|
      = render 'tags/tag_link', tag: tag