%h1
  = link_to @user.name, user_path(@user)
  のフォロワー

%table.table.table-striped
  %tbody
    - @user.followees.each do |followee|
      %tr
        %td= link_to followee.name, user_path(followee)
        %td= render 'users/follow_button', user: followee
