%h1
  = link_to @user.name, user_path(@user)
  のフォロー中のユーザー

%table.table.table-striped
  %tbody
    - @user.followers.each do |follower|
      %tr
        %td= link_to follower.name, user_path(follower)
        %td= render 'users/follow_button', user: follower
