- if user_signed_in?
  - if Tag.following?(current_user, tag)
    = link_to unfollow_tag_path(tag), method: :post do
      %button.btn.btn-danger フォロー解除
  - else
    = link_to follow_tag_path(tag), method: :post do
      %button.btn.btn-success フォロー