%h1= "タグ: #{@tag.body}"

= render 'tags/follow_button', tag: @tag

%h3 タグの付いた記事一覧

%table.table.table-striped
  %tbody
    - @tag.entries.each do |entry|
      = render 'entries/entry_row', entry: entry