%h1= @tag.body

= render 'tags/follow_button', tag: @tag

%ul
  - @tag.entries.each do |entry|
    %li
      = link_to entry.user.name, user_path(entry.user)
      = link_to entry.title, entry_path(entry)