%h1 通知一覧

%table.table.table-striped
  %thead
    %tr
      %th Message
      %th Date
      %th
      %th

  %tbody
    - @infos.each do |info|
      %tr
        %td= render 'infos/message', info:info
        %td= info.updated_at
